h1 {
		font-size: 125%;
		background-color: @[h1BackgroundColor];
		border-bottom: 1px dotted #830000;
      color: #830000;
		}

h2 {
		font-size: 115%;
		border-bottom: 1px dotted #666666;
		color: black;
		}

h3 {
		font-size: 100%;
		color: black;
		}

h4 {
		font-size: 100%;
		color: black;
		}

a, a:visited, a:hover, a:active { 
		text-decoration: none;
		color:#830000;
		}

a:hover{ 
		text-decoration: underline;
		}

pre{
		width: 90%;
		padding: 0 1em 1em 1em;
		margin: 0 auto 2em auto;
		background: #f8f8f8;
		color: #666666;
		}

code{
		color: #666666;
		}

body {
		font-family: Helvetica, Arial, sans-serif, Tahoma;
		font-size: 100%;
		background-color: @[backgroundColor];
		margin-top: 2em;
      margin-left: 10%;
   	margin-right: 10%;
		color: @[textColor];
		}

table.stats {
		text-align: left;
		font-weight: normal;
		font-size: 90%;
		color: #ffffff;
		background-color: @[backgroundColor];
		border: 0px;
		border-spacing: 0px;}

table.stats td {
		font-size: 85%;
		background-color: #eeeeee;
		color: #666666;
		padding: 4px;
		text-align: left;
		border: 1px #eeeeee dotted;
}

blockquote{
		background-color: #f8f8f8;
		/*text-decoration: italic;*/
		border-left: 3px dotted #666666;
		border-right: 3px dotted #666666;
		margin-left: 20px;
	}

dl{
		/*border-left: 1px dotted #666666;*/
	}

dt{
		/*font-weight: bold;*/
		text-decoration: underline;
	}

dd{
		font-size: 90%;
		font-style: italic;
		margin-left: 10px;
	}


TABLE { 
		color: #f8f8f8;
		background: #666666; 
		border-collapse: collapse 
		}

TD{ 
		color: #666666;
		background: #f8f8f8; 
		border: #666666; 
		text-align: left;
		}

#heading{
		background-color: #ffffff;
		position: absolute;
		top: 20px;
		font-size: 180%;
		text-align: left;
		color: #830000;
		}

#footer{
		font-size: 80%;
		color: #666666;
		text-align: right;
		border-top: 1px dotted #666666;
		width: 100%;
		}
